<h1>Hello world!!</h1>
<p>Este ponto de renderização foi executado com layuot engine!</p>
<div>
    Podemos utilizar o objeto do JavaScript na engine: 
    <h3>Usuário</h3>
    <ul>
        <li>{{user.name}}</li>
        <li>{{user.surname}}</li>
        <li>{{user.age}}</li>
    </ul>
</div>